@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueRegular.eot');
	src: url('../fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueRegular.woff') format('woff'),
		 url('../fonts/HelveticaNeueRegular.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueCyr-Bold.eot');
	src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
		 url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}

 body {
	font-family: "HelveticaNeue";
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	color: #fff;
	background-color: #373A3C;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

._cover {
	max-width: 1315px;
	margin: 0 auto;
	padding: 0 15px;
}
._container {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 15px;
}

._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*-------------------Header----------------------*/
.header {
}
.header__container {
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__logo {
}
.header__menu {
	margin: 0 0 0 287px;
}
.menu {
}
.menu__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.menu__list .menu__item {
	position: relative;
}
.menu__item:not(:last-child)::after {
	content: "";
	position: absolute;
	top: 7px;
	right: -17px;
	width: 12px;
	height: 7px;
	background-image: url("/img/header/down-arrow.svg");
	background-repeat: no-repeat;
}
.menu__item:nth-child(3)::after {
	display: none;
}
.menu__item:not(:last-child) {
	margin: 0 38px 0 0;
}
.menu__item:nth-child(3) {
	margin: 0 37px 0 0;
}
.menu__link {
	font-weight: 700;
	line-height: 100%;
	color: rgba(255, 255, 255, 0.5);
}
.menu__link:first-child {
	color: #fff;
}
.header__form {
	margin: 0 30px 0 0;
}

.form__input {
	padding: 9px 142px 9px 16px;
	max-width: 209px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
}

.menu__user {
}
.user {
	display: flex;
	min-width: 90px;
	justify-content: space-between;
}
.user__profile {
}

@media(max-width: 1081px) {
	.header__menu {
		margin: 0 0 0 130px;
	}
}
@media(max-width: 910px) {
	.header__container {
		padding: 10px 15px 0;
	}
	.menu__list .menu__item {
		margin-bottom: 10px;
	}
}

@media(max-width: 709px) {
	.header__container {
		flex-wrap: wrap;
		justify-content: center;
	}
	.header__menu {
		margin: 0;
  }
	.header__form {
		flex: 0 1 70%;
		margin: 0;
		padding: 15px 0 0 0;
	}
	.menu__item:nth-child(3) {
		margin: 0;
  }
  .menu__list .menu__item {
	margin-bottom: 10px;
}
  .menu__list {	
	margin-left: 75px;
}
.form__input {
	margin-bottom: 15px;
}
}
@media(max-width: 479px) {
	.menu__list {
		margin-left: 10px ;
  }
	.header__logo {
		padding: 0 0 15px 0;

	}
	.header__menu {
		margin: 0 auto;
  }
  .menu__list {
	justify-content: center;
}
}


/*-------------------Page----------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__value {
}
.page__exclusive {
}
.page__design {
}
/*-------------------Main block----------------------------*/

.main-block {
	position: relative;
}
.main-block::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50px;
	width: 12px;
	height: 12px;	
	background-color: transparent;
	border-left: 3px solid #8DD83D;
	border-top: 3px solid #8DD83D;
	border-radius: 5%;
	z-index: 20;	
	transform: rotate(-45deg);
}
.main-block::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 50px;
	width: 12px;
	height: 12px;	
	background-color: transparent;
	border-left: 3px solid #8DD83D;
	border-top: 3px solid #8DD83D;
	border-radius: 5%;
	z-index: 20;	
	transform: rotate(135deg);
}

.main-block__cover {
	display: flex;
	flex-direction: row-reverse;
}

.main-block__body {
	padding: 262px 0 200px 130.5px;
	flex: 0 1 50%;
	position: relative;	
	z-index: 10;	
}
.main-block__title {
	font-size: 36px;
	line-height: 117%;
	letter-spacing: 0.08em;	
}
.main-block__subtitle {
	font-size: 24px;
	line-height: 117%;
	margin: 0 0 134px 0;
	letter-spacing: 0.08em;
}
.main-block__buttons {
	display: flex;
}
.main-block__button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 8px 19px 9px 19px;
	min-height: 38px;
	color: inherit;
	line-height: 131%;	
	border-radius: 4px;
	letter-spacing: 0.08em;
	
}
.main-block__button--grey {
	background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
	
}

.main-block__button--grey:hover {
	background: #8DD83D;
	transition: all 0.5s ease 0s;	
}

.main-block__button--green {	
	background-color: #8DD83D;
	margin-right: 13px;
	padding: 8px 24px 9px 19px;
}
.main-block__button--green:hover {
	background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
	transition: all 0.5s ease 0s;	
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} 

.main-block__image img {
	object-position: top;
}
.main-block__indicators {
	max-width: 50px;
	margin: 0 auto;
	z-index: 5;
	position: relative;
	padding-bottom: 43px;
}

.main-block__indicator {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #8DD83D;
	background-color: #8DD83D;
	position: relative;	
	cursor: pointer;
}
.main-block__indicator::before {
	content: "";
	position: absolute;
	left: 20px;
	top: -1px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #8DD83D;
	background-color: transparent;
	
}
.main-block__indicator::after {
	content: "";
	position: absolute;
	left: 40px;
	top: -1px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #8DD83D;
	background-color: transparent;	
}

@media(max-width: 905px) {
	.main-block__buttons {
		flex-wrap: wrap;
	}
	.main-block__button--green {
		margin-bottom: 15px;
	}
}

@media(max-width: 600px) {
	.main-block__body {
		padding: 262px 0 200px 30px;
		flex: 1 1 100%;		
  }
	.main-block::after,
	.main-block::before {
		display: none;
	}
	.main-block__subtitle {		
		margin: 0 0 30px 0;
  }
  .main-block__button {
	margin-bottom: 15px;
}
}

/*---------------------Value-------------------------*/
.value {
	padding: 64px 0 162px 0;
}
.value__container {
}
._container {
}
.value__top {
	text-align: center;
	margin: 0 0 42px 0;
}
.value__logo {
	margin: 0 0 16px 0;
	
}
.value__title {
	font-size: 48px;
	line-height: 117%;
}
.value__title span {
	font-size: 36px;
	line-height: 117%;
}
.value__row {
	display: flex;
	margin: 0 -32px;
}

.value__column {
	padding: 0 32px;
	flex: 0 1 33.333%;
}

.body-value__item {	
	display: flex;
	flex-direction: column;
	height: 100%;
}
.body-value__image {
	background-color: #fff;
	position: relative;
	padding-bottom: 56.603%;
}

.body-value__content {
	background-color: #fff;
	padding: 22px 22px 27px 22px;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
}
.body-value__title {
	font-size: 18px;
	line-height: 117%;
	color: #435766;
	margin-bottom: 13px;
}
.body-value__text {
	font-size: 24px;
	line-height: 117%;
	color: #435766;
}
.body-value__text:not(:last-child) {
	margin: 0 0 38px 0;
}
.body-value__button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 60px;
	font-size: 16px;
	line-height: 131%;
	color: #fff;
	padding: 19px 23px 20px;
	background-color: #8DD83D;	
	transition: all 0.5s ease 0s;	
}

.body-value__button:hover {
	background-color: #686C6F;
}

@media(max-width: 945px) {
	.value {
		padding: 64px 0;
  }
	.value__column {
		padding: 0 17px;
  }
	.body-value__text {
		font-size: 22px;
  }
}

@media(max-width: 779px) {
	.value__row {
		flex-wrap: wrap;
		margin: 0 -17px;
		justify-content: center;
	}
	
	.value__column {
		flex: 0 0 50%;
	}
	.value__column:not(:last-child) {
		margin: 0 0 25px 0;
	}
}

@media(max-width: 520px) {
	.value__column {
		flex: 0 1 80%;
	}
	}

@media(max-width: 479px) {
	.value__column {
		flex: 1 1 80%;
	}
	}
/*--------------------Exclusive------------------*/
	
	.exclusive {
		padding: 97px 0 140px 0;
		position: relative;		
	}

	.exclusive::after {
		content: "";
		position: absolute;
		top: 13%;
		right: 50px;
		width: 14px;
		height: 14px;
		background-color: transparent;
		border-left: 3px solid #8DD83D;
		border-top: 3px solid #8DD83D;
		border-radius: 5%;
		z-index: 20;
		transform: rotate(135deg);
		cursor: pointer;
  }

	.exclusive__cover {		
		display: flex;
		flex-direction: column;
		/* overflow-x: hidden; */
	}
	
	.exclusive__title {
		font-size: 36px;
		line-height: 117%;
		position: relative;
		z-index: 9;
		text-align: center;
	}
	.exclusive__title:not(:last-child) {
		margin: 0 0 53px 0;
	}
	.exclusive__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px 74px -15px;
	}
	.exclusive__column {
		padding: 0 15px;
		flex: 0 1 25%;
		position: relative;
		z-index: 10;
		background-color: transparent;
	}
	.exclusive__item {
	}
	.item-exclusive {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.item-exclusive__image {
		padding-bottom: 56.603%;
	}
	.item-exclusive__image img {
		border-radius: 5px 5px 0 0;	
	}
	.item-exclusive__content {		
		flex: 1 1 100%;
		background: #FFFFFF;
		opacity: 0.9;
		border: 1px solid #8DD83D;
		padding: 21px 22px 27px;
		display: flex;
		flex-direction: column;
	}
	.item-exclusive__title {
		font-size: 18px;
		line-height: 117%;
		color: #435766;
		margin: 0 0 16px 0;
	}

	.item-exclusive__title--rest {
		margin: 0 0 109px 0;
	}
	.item-exclusive__text {
		font-size: 21px;
		line-height: 119%;
		color: #435766;
		margin: 0 0 43px 0;
	}
	.item-exclusive__button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 19px 55px 20px;
		max-height: 81px;
		font-size: 16px;
		line-height: 131%;
		color: #FFFFFF;
		background-color: #8DD83D;
		border-radius: 4px;
		transition: all 0.5s ease 0s;	
	}

	.item-exclusive__button:hover {
		background-color: #686C6F;
	}
	
	.exclusive__button {
		position: relative;
		z-index: 11;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		min-height: 53px;
		padding: 11px 47px 21px;
		background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
		border-radius: 4px;
		font-size: 21px;
		line-height: 100%;
		color: #FFFFFF;
		margin: 0 auto;
		transition: all 0.5s ease 0s;	
	}
	.exclusive__button:hover {
		background: #8DD83D;
	}
	
	.exclusive__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		
	}

	.exclusive__image img {
		object-position: top;
		opacity: 0.5;
	}

	@media(max-width: 1257px) {
		.exclusive__row {
			justify-content: center;
			gap: 30px;
	  }
		.exclusive__column {
			flex: 0 0 40%;
			padding: 0;
		}
		.item-exclusive__content {
			display: flex;
			flex-direction: column;
	  }	  
	.exclusive::after {
		display: none;
	}
	}

	@media(max-width: 776px) {
	.exclusive {
		padding: 64px 0;
		position: relative;		
	}
}

	@media(max-width: 598px) {
		.exclusive__column {
			flex: 0 0 70%;
		}
	}
/*-------------------Design------------------------*/

.design {
	padding: 114px 0 145px 0;
	position: relative;
}
.design__container {
	display: flex;
}
.design__body {
	flex: 0 1 46.296%;
	position: relative;
	z-index: 6;
}
.design__title {
	font-size: 48px;
	line-height: 117%;
	margin: 0 0 9px 0;
}
.design__text {
	font-size: 24px;
	line-height: 117%;
	margin: 0 0 37px 0;
}
.design__buttons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.design__btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px 49px;
	font-size: 16px;
	line-height: 131%;
	color: #FFFFFF;
	min-height: 60px;
	
	border-radius: 4px;
	transition: all 0.5s ease 0s;	
}
.design__btn:first-child {
	background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
}
.design__btn:first-child:hover {
	background: #8DD83D;
}

.design__btn:nth-child(2) {
	background-color: #8DD83D;
}
.design__btn:nth-child(2):hover {
	background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
}

.design__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	object-fit: cover;
}
@media(max-width: 1084px) {
	.design__btn:first-child {
		margin: 0 0 15px 0;
	}
}
@media(max-width: 776px) {
	.design {
		padding:64px 0 64px 0;
	}
	.design__body {
		flex: 0 1 70%;
	}
}

@media(max-width: 479px) {
	.design__body {
		flex: 1 1 70%;
	}
}
/*-----------------Footer----------------------*/
.footer {
	padding: 58px 0 38px 0;
}
.footer__top {
}
.top-footer {
}
.top-footer__container {
}

.footer__row {
	display: flex;
	/* justify-content: space-between; */
	padding-bottom: 49px;
}
.footer__column {
	flex: 0 1 33.333%;
}
.column-footer {
}
.column-footer__title {
	font-size: 18px;
	line-height: 117%;
	color: #7DD42F;
	margin: 0 0 34px 0;
}
.column-footer__list {
	display: flex;
	flex-direction: column;
}
.column-footer__list-social {
	display: flex;
	max-width: 91px;
	justify-content: space-between;
}
.column-footer__item:not(:last-child) {
	margin: 0 0 29px 0;
}
.column-footer__link {
	font-size: 14px;
	line-height: 114%;
	color: #FFFFFF;
	display: block;
}

.column-footer__link {
	
}
.footer__bottom {
	
}
.bottom-footer {
}
.bottom-footer__wrapp {
	border-top: 1px solid rgba(255, 255, 255, 0.35);
	max-width: 1230px;
	padding: 20px 15px 0 15px;
	margin: 0 auto;
}
.bottom-footer__row {
	display: flex;
	justify-content: space-between;
}
.bottom-footer__text,
.bottom-footer__copy-text {
	font-size: 16px;
	line-height: 118%;
	color: #fff;
}

@media(max-width: 420px) {
	.footer__row {
		flex-wrap: wrap;
	}
	.footer__column {
		flex: 0 1 50%;
	}
	.footer__column:last-child {
		margin-top: 25px;
	}
	.column-footer__title {
		margin: 0 0 15px 0;
  }
}